# Ignore prior conflict files
conflict-*.md

# Ignore Todoist Token
.obsidian/todoist-token

# Ignore Vault Stats
.obsidian/vault-stats.json

# Ignore Smart Connections
.smart-connections

# Misc
desktop.files.json

# Ignore Obsidian Sync
.obsidian-sync

# Ignore Obsidian Git
.obsidian-git

# Temp/Archive/Trash/Backups
.trash
.archive
temp
tmp
.tmp
*.bak

# Python
.venv
*.pyc

# Node
/node_modules
/npm-debug.log

# Cargo
/target
/src

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk




# Ignore Smart Connections folder
.smart-connections
